<h1>Realtime products</h1>
<div>
    <input id="title" type="text" placeholder="Title">
    <input id="description" type="text" placeholder="Description">
    <input id="price" type="number"  placeholder="Price">
    <input id="stock" type="number" placeholder="Stock">
    <input id="thumbnails" type="text" placeholder="Thumbnails">
    <input id="status" type="text" placeholder="Status">
    <input id="category" type="text" placeholder="Category">
    <button id="agregarProducto">Agregar producto</button>
</div>
<br>
<div>
    <input id="idProd" type="number" placeholder="Id del Producto">
    <button id="eliminarProducto">Eliminar producto</button>
</div>
<div>
    <p id="listaProductos"></p>
</div>

